@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

.div-guia {
    position: fixed;
    right: 0;
    bottom: 0;
    
    width: 65%;
    height: 60%;
    
    pointer-events: none;
    z-index: 999999;
    
    background-image: none;
}

.imagem-bru {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 60%;
    height: auto;
    max-height: 75%;

    object-fit: contain;
    pointer-events: auto;
}

.div-balao {
    position: absolute; 
    
    width: 77%;
    height: 40%;
    
    bottom: 0;
    top: 0;
    margin-top: 0%;
        
    background-size: contain; 
    background-repeat: no-repeat;
    background-color: transparent;
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 4% 15% 12% 6%; 
    box-sizing: border-box; 
    
    pointer-events: auto; 
    z-index: 1000000;
}

.texto-balao {
    color: #000000; 
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Atkinson Hyperlegible", sans-serif; 
    line-height: 1.4;
    width: 100%; 
    text-align: center; 
}

.botao-config {
    position: static; 

    padding: 10px 24px;
    
    min-width: 50%; 
    min-height: auto;
    
    background: #60a1ea;
    border: 0;
    border-radius: 20px;
    
    font-size: 16px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    
    text-align: center; 
    white-space: nowrap; 
    
    pointer-events: auto;
    cursor: pointer;
}

.botao-config:hover {
    background-color: #4a86d9;
}

.div-guia-popup {
    position: fixed;
    
    right: 15px; 
    bottom: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    width: auto;
    height: auto;
    
    z-index: 999999;
}

.logo-pluma{
    width: 60px;
    height: auto;
    pointer-events: auto;
}

.logo-pluma:hover {
    cursor: pointer;
}

/* TABLETS E DESKTOPS */
@media (min-width: 768px) {
    .div-guia {
        width: 36%;
        height: 95%;
        max-width: 450px;
    }
}

@media (max-width: 400px) {
    .div-balao {
        padding: 5% 10% 10% 5%; 
    }
    .texto-balao {
        font-size: 1em;
    }
}
