/* ESTILOS DE BASE (MOBILE FIRST) */
.div-guia {
    position: fixed;
    right: 0;
    bottom: 0;
    
    width: 50%;
    height: 60%;
    max-width: 300px;
    
    pointer-events: none;
    z-index: 999999;
    
    background-image: url("https://raw.githubusercontent.com/marianacoronado19/Pluma-Acessibilidade/main/images/assistente/bru_nova.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right; 
}

.botao-config {
    position: relative;
    
    min-height: 7%;
    padding: 8px 16px;
    
    background: #60a1ea;
    border: 0;
    border-radius: 20px;
    
    font-size: 14px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    white-space: nowrap; 
    
    left: 15%;
    top: 35%;
    
    pointer-events: auto;
    cursor: pointer;
}


/* TABLETS E DESKTOPS */
@media (min-width: 768px) {
    .div-guia {
        width: 36%;
        height: 95%;
        max-width: 450px;
    }

    .botao-config {
        padding: 10px 20px;
        font-size: 16px;
        left: 20%;
        top: 32.5%;
    }
}

.botao-config:hover {
    background-color: #4a86d9;
}