body {
    background: linear-gradient(180deg, #d4e9ff 27%, #82b4ff 100%);
    backdrop-filter: blur(2px);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 20px;
    background: linear-gradient(0deg, #171a66 100%), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    padding: 40px;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-cadastro {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}



.seta {
    width: 24px;
 
}

.titulo {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3dvh;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px 40px; 
    width: 100%; 
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

.campo input,
.campo select {
    width: 100%;
    max-width: 100%;
    height: 45px;
    border-radius: 16px;
    border: 2px solid #60a1ea;
    background: #d4e9ff;
    padding: 0 12px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

.input-acess {
    position: relative;
    display: flex;
    align-items: center;
}

.icone-seta {
    width: 18px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.gaveta-acess {
    display: none;
    flex-direction: column;
    background: #d4e9ff;
    border: 2px solid #60a1ea;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.gaveta-acess label {
    font-size: 13px;
    color: #2D2D2D;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.botao {
    background-color: #fc9700;
    color: white;
    width: 240px;
    height: 45px;
    border-radius: 10px;
    margin-top: 35px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.ja, .ou {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    margin-top: 15px;
}

.ja a {
    color: #f9a01b;
    text-decoration: none;
}

.opcoes {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.google, .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 13px;
    border: solid #FFF 1px;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    cursor: pointer;
}

.google img, .facebook img {
    width: 25px;
}

.box::-webkit-scrollbar {
    width: 9px; 
}

.box::-webkit-scrollbar-track {
    border-radius: 0px;
}

.box::-webkit-scrollbar-thumb {
    background-color: #60a1ea; 
    border-radius: 10px;
}


@media (max-width: 700px) {
    .grid-form {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .box {
        width: 90%;
        padding: 25px;
    }

    .botao {
        width: 100%;
    }
}

.logo-pluma {
    display: block;
    margin: 0 auto 15px auto;
    width: 200px; 
}
